server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://10.20.146.140:33061/zjh?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: root123
  thymeleaf:
    prefix: classpath:/thymeleaf/
    suffix: .html
  Jpa:
    hibernate:
      # 更新或创建数据表
      ddl-auto: update
    # 在控制台显示sql
    show-sql: true
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
